.sectionEventoPrincipal {
    margin-top: 60px;
    background-color: #7EFFBA;
    padding: 40px 0;
}

.evento-principal-area {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 34px;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.evento-principal-area .info-left {
    display: flex;
    flex-direction: column;
    width: 630px;
    max-width: 100%;
    gap: 34px;
    justify-content: space-between;
}

/*Contagem regressiva*/
.info-left .contagemRegressiva {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.info-left .contagemRegressiva li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    color: #cf2f35;
    font-weight: normal;
}

.info-left .contagemRegressiva li span {
    color: rgb(13, 2, 51);
    font-weight: bold;
}

/*detalhes do banner*/
.info-left .banner-detalhes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-left .banner-detalhes h2 {
    color: #ED3237;
}

.info-left .banner-detalhes h3 {
    margin: 34px auto;
    color: #ED3237;
}

.info-left .banner-detalhes p {
    width: 315px;
    max-width: 100%;
    text-align: justify;
}

.info-left .btn-comparecer {
    padding: 8px;
    width: 315px;
    max-width: 100%;
    background-color: #ED3237;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
}

.info-left .btn-comparecer:hover {
    background-color: #ed3238ce;
}

.evento-principal-area .area-img-banner {
    height: 547px;
    width: 547px;
    background-color: rgb(238, 238, 238);
}

.evento-principal-area .area-img-banner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*Datas e ativides do evento ativo*/
.atividades-evento-container {
    background-color: #d9d9d98e;
    padding: 25px;
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.sectionDiasAtividade nav {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    overflow-x: auto;
}

.sectionDiasAtividade nav .list-days {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin: 0 auto;
}

.sectionDiasAtividade nav .list-days li button {
    padding: 5px 14px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

.sectionDiasAtividade nav .list-days li button.open {
    border-bottom: 2px solid black;
}

.atividades-evento-container .atividade-detalhes {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 310px;
    min-width: 310px;
    justify-content: space-between;
    margin: 0 auto;
}

.atividade-detalhes .palestrante-nome-atividade {
    display: flex;
    align-items: center;
    gap: 5px;
}

.atividade-detalhes .palestrante-nome-atividade h2 {
    font-size: 16px;
}

.atividade-detalhes .palestrante-nome-atividade .area-img-palestrante {
    background-color: rgba(31, 31, 31, 0.322);
    width: 52px;
    min-width: 52px;
    height: 52px;
    border: 2px solid rgba(0, 0, 0, 0.603);
    border-radius: 50%;
}

.atividade-detalhes>p {
    text-align: justify;
}

.atividade-detalhes .list-info-atividade {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    margin-top: 8px;
}

.atividade-detalhes .list-info-atividade li {
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
}


/*POSTAGENS / DIVULGAÇÃO*/
.sectionPostagens {
    margin: 60px 0;
}

.sectionPostagens .postagens-area {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}

#buttonPub {
    display: block;
    padding: 15px 25px;
    background-color: #d4e4db;
    width: 413px;
    max-width: 100%;
    text-align: center;
    border: 2px dashed rgba(0, 0, 0, 0.308);
    margin: 0 auto 20px auto;
    cursor: pointer;
}

/*MODAL DE POST*/
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.774);
    justify-content: center;
    align-items: center;
}

.post-modal {
    background-color: rgb(255, 255, 255);
    padding: 34px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 613px;
    max-width: 100%;
    border-radius: 10px;
}


.post-modal form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.form-fields {
    display: none;
}

.form-fields .fieldsContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-fields .fieldsContainer>div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-fields .project_options {
    display: flex;
    gap: 17px;
}
.form-fields .project_options div{
    display: flex;
    align-items: center;
    gap: 4px;
}
.form-fields .fieldsContainer>div label {
    font-weight: bold;
    color: #525b70;
}

.form-fields .fieldsContainer>div input,
textarea {
    font-size: 15px;
    color: #343B49;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #525b70b4;
}

.form-fields .fieldsContainer>div textarea {
    resize: none;
    height: 75px;
}
.post-modal form button{
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #343B49;
    cursor: pointer;
}
.post-modal form input[type="radio"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.post-modal .type_publication {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.post-modal .type_publication .fields-type_publication {
    display: flex;
    gap: 10px;
}

.post-modal .type_publication .fields-type_publication>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.postagens-area .postagens-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.postagens-container .postagem-item {
    width: 413px;
    border-radius: 10px 10px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.100);
    background-color: #c2c2c21c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

}

.postagem-item .details-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
    flex: 1;
}

.postagens-container .postagem-item h2 {
    font-size: 17px;
    text-align: center;
}

.postagens-container .postagem-item h2.pesquisa {
    color: #007FFF;
}

.postagens-container .postagem-item h2.apresentacao {
    color: #00A859;
}

.postagens-container .postagem-item h2.projeto-ini {
    color: #224FD8;
}

.postagens-container .postagem-item h2.projeto-fim {
    color: #343B49;
}

.postagens-container .details-content p {
    text-align: justify;
}

.postagens-container .postagem-item a {
    color: #ED3237;
}

.postagem-item .date-local {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.postagem-item .date-local p {
    color: #09101bbe;
}

.postagem-item .conquer-img {
    max-width: 124px;
    display: block;
    margin: 0 auto;
}

.postagem-item .widgets-actions {
    background-color: #05133f23;
    display: flex;
}

.postagem-item .widgets-actions button {
    flex: 1;
    cursor: pointer;
    border: none;
    padding: 4px;
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    align-items: end;
}

.postagem-item .widgets-actions button:hover {
    background-color: rgb(218, 218, 218);
}

.postagem-item .widgets-actions button:nth-child(2) {
    border-left: 1px solid rgba(0, 0, 0, 0.503);
    border-right: 1px solid rgba(0, 0, 0, 0.503);
}

.postagem-item .widgets-actions button span {
    color: #525b70;
    min-width: 15px;
}




@media(max-width: 582px) {
    .evento-principal-area .area-img-banner {
        height: 90vw;
    }
}