{%extends 'base.html'%}
{%load static%}

{%block 'titulo'%}Bem Vindo!{%endblock%}

{% block 'styles' %}<link rel="stylesheet" href="{% static 'feed/styles.css' %}">{% endblock %}


{%block 'conteudo'%}

    <header>
        <div class="area-header">
            <h1 class="logoName">Campus<span>Broadcast</span></h1>
        </div>
    </header>

    <h1>Você está logado.</h1>
    <a href="{%url 'accounts:logout'%}">SAIR</a>


    <section class="sectionPostsAuncios">
        {%for evento in eventos%}
            <article class="eventContainer">
                <div class="area-banner">

                </div>

                <div class="detailsContainer">
                    <header>
                        <div class="user-details">
                            <h2>{{evento.anunciado_por.first_name}}</h2>
                        </div>
                    </header>
                    <h3>{{evento.titulo}}</h3>
                    
                </div>
            </article>
        {%endfor%}

    </section>
{%endblock%}
