{%extends 'base.html'%}
{%load static%}

{%block 'titulo'%}Bem Vindo!{%endblock%}

{% block 'styles' %}<link rel="stylesheet" href="{% static 'feed/styles.css' %}">{% endblock %}


{%block 'conteudo'%}

    <header>
        <div class="area-header">
            <h1 class="logoName">Campus<span>Broadcast</span></h1>
        </div>
    </header>
    <a href="{%url 'accounts:logout'%}">SAIR</a>

    <section class="sectionEventoPrincipal">
        <div class="evento-principal-area">
            <div class="info-left">
                <ul class="contagemRegressiva">
                    <li>
                        90 <span>Dia</span>
                    </li>
                    <li>
                        9 <span>Hor</span>
                    </li>
                    <li>
                        20 <span>Min</span>
                    </li>
                    <li>
                        90 <span>Seg</span>
                    </li>
                </ul>

                <div class="banner-detalhes">
                    <h2>{{evento.titulo}}</h2>
                    <p>{{evento.description}}</p>

                    {% if evento.data_inicio == evento.data_fim %}
                        <h3>{{ evento.data_inicio|date:"j \d\e F" }}</h3>
                    {% else %}
                        <h3>De {{ evento.data_inicio|date:"j" }} a {{ evento.data_fim|date:"j \d\e F" }}</h3>
                    {% endif %}
                </div>

                <a href="#" class="btn-comparecer">Marcar presença</a>
            </div>

            {%if evento.picture%}
                <div class="area-img-banner">
                    <img src="{{evento.picture.url}}" alt="banner Imagem">
                </div>
            {%endif%}

        </div>
    </section>

    <section class="sectionDiasAtividade">
        <nav>
            <ul class="list-days">
                {%for date in days_events%}
                    <li>{{date.data|date:"j \d\e F"}}</li>
                {%endfor%}
            </ul>
        </nav>
        <div class="atividades-evento-container">
            <article class="atividade-detalhes">
                <div class="palestrante-nome-atividade">
                    <div class="area-img-palestrante"></div>
                    <h2>Mesa Redonda</h2>
                </div>
                
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Culpa saepe minus nisi adipisci possimus ipsa officia 
                    repudiandae!</p>

                <ul class="list-info-atividade">
                    <li>
                        <img src="{%static 'feed/person_FILL1.svg'%}" alt="img">Diego Grosmann
                    </li>

                    <li>
                        <img src="{%static 'feed/ClockTime.svg'%}" alt="img">8hr - 9hr
                    </li>

                    <li>
                        <img src="{%static 'feed/location_on_FILL0.svg'%}" alt="img">Auditorio
                    </li>
                </ul>
            </article>
        </div>
    </section>
{%endblock%}
